<header class="jumbotron subhead" id="overview">
  <img class="banner_logo" alt="contratandome_logo" src="{{ STATIC_URL }}img/banner.png">
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="/">Inicio</a></li>
      <li><a href="/howpublish/">Cómo publico</a></li>
      <li><a href="/howpostulate/">Cómo postulo</a></li>
      <li><a href="/login/">Iniciar sesión</a></li>
      <div class="right" style="float:right; margin-top:5px;">
	  	  <a href="http://www.linkedin.com/company/2553704?trk=tyah" target="_blank"><img alt="Facebook" src="{{ STATIC_URL }}img/linkedin.png"></a>
        <a href="https://twitter.com/contratandome" target="_blank"><img alt="Twitter" src="{{ STATIC_URL }}img/twitter.png"></a>
        <a href="https://www.facebook.com/Contratandome" target="_blank"><img alt="Facebook" src="{{ STATIC_URL }}img/facebook.png"></a>
	    </div>
    </ul>    
  </div>  
</header>