{% extends "_base.htm" %}
{% block header %}
	{% include "header_home.htm" %}
{% endblock %}
{% block content %}	
<div class="row-fluid">
	<ul class="thumbnails">
	  <li class="span4">
	    <div class="thumbnail">
	      <br><img alt="" src="{{ STATIC_URL }}img/p_describe.png">
	      <div class="caption center">
	        <h3>Defina su proyecto</h3><br>
	        <p>Todo comienza con la descripción de su proyecto detallando que es lo que se requiere, con cuantos recursos económicos se cuenta y clasificándolo en una de las 8 categorías que hemos puesto a disposición.</p>
	      </div>
	    </div>
	  </li>
	  <li class="span4">
	    <div class="thumbnail">
	      <br><img alt="" src="{{ STATIC_URL }}img/p_review_postulates.png">
	      <div class="caption center">
	        <h3>Asignelo al mejor postor</h3><br>
	        <p>Desde el minuto en que se publique su proyecto recibirá de nuestros Freelancer propuestas de trabajo, usted podrá elegir la que mas le parezca. Nuestro objetivo es que usted escoja al mejor de todos y eso lo podrá hacer revisando los indicadores de desempeño de nuestros Freelancer junto con sus portafolios. El siguiente paso es ponerse en contacto para comenzar a trabajar.</p>
	      </div>
	    </div>
	  </li>
	  <li class="span4">
	    <div class="thumbnail">
	      <br><img alt="" src="{{ STATIC_URL }}img/p_evaluate.png">
	      <div class="caption center">
	        <h3>Revise el resultado</h3><br>
	        <p>Cuando den por finalizado el proyecto se realizará una evaluación del trabajo, la que fue definida y estipulada al comienzo del proyecto, de esta forma contribuirá en el proceso de selección de nuestros Freelancers.</p>
	      </div>
	    </div>
	  </li>
	</ul>
</div>
{% endblock %}
