{% extends "_base.htm" %}
{% block header %}
	{% include "header_home.htm" %}
{% endblock %}	
{% block content %}
	<form class="form-horizontal" method="post" id="signup_employer_form" action="/signup_employer/">
		{% csrf_token %}
		<div class="row-fluid">		
			<div class="span9">
				<h2>Publique su proyecto y conectese con los mejores {{ profession }}</h2>
				<br>
				<h3>Descripción del proyecto</h3></br></br>
				{% include "_add_job.htm" %}

				<div class="control-group">
					<label class="control-label">Busca alguien con experiencia en</label>
					<div class="controls">
						<div id="c{{job_category}}" ></div>
					</div>
				</div>								
			</div>
			<div class="span2 center">
				<br><br>
				<img src="{{ STATIC_URL }}img/hammer.png">
				<p><br>
					Asigna el proyecto a la mejor postulación realizada por nuestros Freelancers.
				</p>
				<br>
				<img src="{{ STATIC_URL }}img/people.png">
				<p><br>
					No busques expertos sino que ellos te busquen a ti!					
				</p>
				<br>
				<img src="{{ STATIC_URL }}img/watch.png">
				<p>
					Cada postulante hará una oferta en tiempo y dinero, si aún no estas convencido revisa sus perfiles y las calificaciones de sus trabajos.
				</p>
			</div>
			<div class="span9">
				<h3>Datos de contacto</h3></br>
				<div class="control-group">
					<label class="control-label">Nombre y apellido</label>
					<div class="controls">
						<input name="name" type="text" class="input-xlarge focused span3" placeholder="Nombre y apellido" required autocomplete="off">
						<span class="help-inline"></span>
					</div>
				</div>
				<div class="control-group" id='email_div'>
					<label class="control-label">Correo electrónico</label>
					<div class="controls">
						<input name="email" id="email" type="email" class="input-xlarge span3" placeholder="Correo" required autocomplete="off">
						<span class="help-inline" id="email_mes"></span>
					</div>						
				</div>
				<br>
				<b>
					<em>Al registrarse usted declara estar al tanto y de acuerdo con nuestra 
							<a href="{{ STATIC_URL }}docs/politicas_de_privacidad.pdf" target="_blank">Políticas de Privacidad</a> y 
							<a href="{{ STATIC_URL }}docs/acuerdo_de_usuario.pdf" target="_blank">Términos de Uso</a>
					</em><br><br>
				</b>
				<div class="form-actions">					
					<button type="button" class="btn btn-large btn-primary" onClick="colectCategories();">Publicar ahora</button>
				</div>	
			</div>
			<div class="span2 center">
				<p></p>
			</div>
		</div>
		<input id="categories" name="categories" style="display:none" value=""/>
	</form>

{% endblock %}
{% block script %}
<script>
$(document).ready(function()
{
	$("#byfixed").click(function(){
		$('#is_fixed').val("1");
	})
	$("#byhour").click(function(){
		$('#is_fixed').val("0");
	})	
	

	$("#isPublic").click(function(){
		$('#is_public').val("1");
	})
	$("#isNotPublic").click(function(){
		$('#is_public').val("0");
	})	
	
	$('#categories_btn').click(function(event){
		$('#category_set').modal({
			keyboard:false,
			show: true
		});
		event.preventDefault();
	});
		
	function get_categories(indice,calls){
		$.get('/categories/'+indice, 
				function(data) {
					$div_id ="#c"+calls;
		            $($div_id).empty();
		            cats = data.split(",");
		            for(c in cats)
		            {
		            	var append_data = "<label class=\"checkbox\"><input type=\"checkbox\" id=\""+cats[c]+"\" class=\"c_s\" value=\""+cats[c]+"\">"+cats[c]+"</label>";
		            	$($div_id).append(append_data);
		            } 
		           /* if(calls==8){
		            	$(".c_s").attr("checked",null);
			            $(".c_s").change(function(){
		            		$.get('/set_category_job/'+$(this).val()+'/'+$(this).is(":checked")+'/'+$("#job_id").val(),
		            			function(data){
		            				console.info(data);
		            			} 
		            		);         
			    			
			    		});	
		            }*/		            
				}
			);
	}
	
	var calls = 1;
	{% for key,value in categories %}
		get_categories('{{ key }}',calls);	
		calls = calls+1; 
	{% endfor %}
});

function colectCategories(){
	$(".c_s:checked:enabled").each(function(key,value){
		$("#categories").attr("value",$("#categories").attr("value")+value.id+",");
	});
	$("#signup_employer_form").submit();
}

</script>
{% endblock %}