{% extends "_dashboard_freelancer.htm" %}
{% block body %}
	<div class="row-fluid">	
		<div class="span3">
			{% include "_step_job_postulation.htm" %}
		</div>		
		<div class="span7">	
			{% if j.state = "5" %}
				<div class="center">
					<h3>Han solicitado la anulación del proyecto</h3>
					<br><br>
					<button class="btn btn-danger" id="anular">Anular</button>
					<br><br>
				</div>
			{% endif %}
			
			{% if j.state = "4" %}
				<h3>Usted anulo el proyecto</h3><br>
			{% endif %}		
			
			{% if j.state = "6" %}
				<h3>Proyecto anulado por acuerdo</h3><br>
			{% endif %}				
			
			{% include "_job.htm" %}
		</div>
	</div>
{% endblock %}
{% block script %}
<script>
	function confirmDelete(delUrl) {
	  if (confirm("¿Seguro que desea eliminar el trabajo?")) {
	    document.location = delUrl;
	  }
	}
	
	$(document).ready(function(){
		
		
		$("#anular").click(function(event){
			if (confirm("Si anula el proyecto esto se reflejara en su indice de confianza y no podra deshacer esta acción, ¿Seguro que desea anular el proyecto?")) {
				$.get('/anular_job/'+"{{j.code}}",
						function(data){
							document.location = "/job/"+"{{j.code}}";
						}
				);   
			}else{
				console.info("no anulado");
			}
			event.preventDefault();
		});
		
		$(".btn_decision").click(function(){
			if (confirm("¿Seguro que desea asignar el proyecto?")) {
				id = $(this).attr('id').split("_")[2];		
				value = $(this).attr('value');
				
				$.get('/set_postulation/',{ postulate_id:id, state:value},
					function(data){
						console.info(data);
						document.location = "/dashboard/";
					}
				);   
			}
		});
		
	});
</script>
{% endblock %}